* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(184, 149, 53, 0.438), rgba(161, 11, 11, 0.432));
}
h1 {
  text-align: center;
}
#mainContainer {
  width: 50%;
  height: 900px;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

p {
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

#mainContainer #inputContainer {
  width: 30%;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(161, 11, 11, 0.267);
  border-radius: 5px;
}
#inputContainer button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-left: 90px;
  color: white;
  font-weight: 800;
  background-color: rgb(206, 181, 113);
  border-radius: 5px;
  border: 2px solid rgb(184, 149, 53);
}
#inputContainer button:hover {
  background-color: rgb(122, 95, 20);
  color: white;
}
#in {
  margin-left: 60px;
  color: black;
  background-color: rgba(209, 179, 98, 0.76);
}
#radioContainer {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 800;
}
#result {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 220px;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 250px;
}
#result h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 5px;
}
#result h2:hover {
  background-color: gray;
  color: lightgrey;
}

#result #h2lbs {
  border: none;
}

input::-webkit-input-placeholder {
    transition: 0.3s;
    color: rgb(0, 0, 0);
}

img {
    width: 300px;
    position: absolute;
    top: 80px;
    right: 35%;
}